@model WorkingHourViewModel

@{
    ViewData["Title"] = "Yeni Çalışma Saati Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="AddNewWorkingHourForm" asp-area="Admin" asp-controller="WorkingHour" asp-action="CreateWorkingHour" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Çalışma Saati Ekleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label asp-for="CreateWorkingHour.Title">Başlık</label>
                                    <input asp-for="CreateWorkingHour.Title" type="text" class="form-control input-square" placeholder="Başlık">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label asp-for="CreateWorkingHour.OpeningHour">Açılış Saati</label>
                                    <input asp-for="CreateWorkingHour.OpeningHour" type="text" maxlength="5" class="form-control input-square" placeholder="Açılış Saati">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label asp-for="CreateWorkingHour.ClosingHour">Kapanış Saati</label>
                                    <input asp-for="CreateWorkingHour.ClosingHour" type="text" maxlength="5" class="form-control input-square" placeholder="Kapanış Saati">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label asp-for="CreateWorkingHour.Status">Ürün Durumu</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input asp-for="CreateWorkingHour.Status" class="form-check-input" type="checkbox">
                                            <span class="form-check-sign">Aktif</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/workinghour" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>