@model ContactViewModel

@{
    ViewData["Title"] = "İletişim Bilgisi Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="AddNewContactForm" asp-area="Admin" asp-controller="Contact" asp-action="CreateContact" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Bilgisi Oluşturma</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateContact.Location">Konum</label>
                                    <input asp-for="CreateContact.Location" type="text" class="form-control input-square" placeholder="Konum">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateContact.Phone">Telefon</label>
                                    <input asp-for="CreateContact.Phone" type="text" class="form-control input-square" placeholder="Telefon">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateContact.Mail">E-Posta</label>
                                    <input asp-for="CreateContact.Mail" type="email" class="form-control input-square" placeholder="E-Posta">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="CreateContact.Description">Açıklama</label>
                                    <textarea asp-for="CreateContact.Description" rows="5" class="form-control input-square" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/contact" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-plus"></i> İletişim Bilgisi Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>