@model MessageViewModel

@{
    ViewData["Title"] = "Yeni Mesaj Oluşturma";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}
<form id="AddNewMessageForm" asp-area="Admin" asp-controller="Message" asp-action="CreateMessage" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Mesaj</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="CreateMessage.ReceiverMail">Mesaj Alıcısı</label>
                                    <input asp-for="CreateMessage.ReceiverMail" type="email" class="form-control input-square" placeholder="Mesaj Alıcısı">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="CreateMessage.MessageSubject">Mesaj Konusu</label>
                                    <input asp-for="CreateMessage.MessageSubject" type="text" class="form-control input-square" placeholder="Mesaj Konusu">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateMessage.MessageContent">Mesaj İçeriği</label>
                                    <textarea asp-for="CreateMessage.MessageContent" type="text" class="form-control input-square" rows="5" placeholder="Mesaj İçeriği"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/message/getallmessages" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-send"></i> Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>