@model AboutViewModel

@{
    ViewData["Title"] = "Yeni Hakkımızda Bilgisi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="AddNewAboutForm" asp-area="Admin" asp-controller="About" asp-action="CreateAbout" method="post" enctype="multipart/form-data">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımızda Bilgisi Ekleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="CreateAbout.Title">Başlık</label>
                                    <input asp-for="CreateAbout.Title" type="text" class="form-control input-square" placeholder="Başlık">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="CreateAbout.Image">Ürün Görseli</label>
                                    <input asp-for="CreateAbout.Image" type="file" class="form-control input-square">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="CreateAbout.Description">Açıklama</label>
                                    <textarea asp-for="CreateAbout.Description" type="text" class="form-control input-square" rows="5" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/about" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-save"></i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>