@model CategoryViewModel

@{
    ViewData["Title"] = "Kategori Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="UpdateCategoryForm" asp-area="Admin" asp-controller="Category" asp-action="UpdateCategory" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@ViewBag.MainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kategori Düzenleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            @Html.HiddenFor(c => c.UpdateCategory.CategoryID)
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="UpdateCategory.CategoryName">Kategori Adı</label>
                                    <input asp-for="UpdateCategory.CategoryName" type="text" class="form-control input-square" placeholder="Kategori Adı">
                                </div>                                
                                <div class="col-md-6 form-group">
                                    <label asp-for="UpdateCategory.CategoryStatus">Kategori Durumu</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input asp-for="UpdateCategory.CategoryStatus" class="form-check-input" type="checkbox">
                                            <span class="form-check-sign">Aktif</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="/admin/category" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                            <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>