@model UserEditDto

@{
    ViewData["Title"] = "Şifre Değişikliği";
    Layout = "~/Views/UserLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
}

<form id="ChangePasswordForm" asp-area="User" asp-controller="ProfileSetting" asp-action="ChangePassword" method="post">
    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Şifre Güncelleme</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @Html.HiddenFor(x => x.UserData.Id)
                                <div class="col-md-6 form-group">
                                    <label asp-for="EdittedPassword">Yeni Şifreniz</label>
                                    <input asp-for="EdittedPassword" type="text" class="form-control input-square" placeholder="Yeni Şifreniz">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/User/profilesetting" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-edit"></i> Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>