@model TestimonialViewModel

@{
    ViewData["Title"] = "Yeni Yorum Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="AddNewTestimonialForm" asp-area="Admin" asp-controller="Testimonial" asp-action="CreateTestimonial" method="post" enctype="multipart/form-data">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Yorum Ekleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateTestimonial.Name">Kullanıcı Adı</label>
                                    <input asp-for="CreateTestimonial.Name" type="text" class="form-control input-square" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateTestimonial.Image">Yorum Görseli</label>
                                    <input asp-for="CreateTestimonial.Image" type="file" class="form-control input-square">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="CreateTestimonial.Status">Yorum Durumu</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input asp-for="CreateTestimonial.Status" class="form-check-input" type="checkbox">
                                            <span class="form-check-sign">Aktif</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="CreateTestimonial.Title">Yorum Başlığı</label>
                                    <input asp-for="CreateTestimonial.Title" type="text" class="form-control input-square" placeholder="Yorum Başlığı">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="CreateTestimonial.Comment">Açıklama</label>
                                    <textarea asp-for="CreateTestimonial.Comment" rows="5" class="form-control input-square" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/testimonial" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>