@model FeatureViewModel

@{
    ViewData["Title"] = "Öne Çıkan Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string mainTitle = (string)ViewBag.MainTitle;
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="UpdateFeatureForm" asp-area="Admin" asp-controller="Feature" asp-action="UpdateFeature" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@mainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Güncelleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @Html.HiddenFor(x => x.UpdateFeature.FeatureID)
                                <div class="col-md-6 form-group">
                                    <label asp-for="UpdateFeature.Title">Başlık</label>
                                    <input asp-for="UpdateFeature.Title" type="text" class="form-control input-square" placeholder="Başlık">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="UpdateFeature.Status">Ürün Durumu</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input asp-for="UpdateFeature.Status" class="form-check-input" type="checkbox">
                                            <span class="form-check-sign">Aktif</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="UpdateFeature.Description">Açıklama</label>
                                    <textarea asp-for="UpdateFeature.Description" rows="5" class="form-control input-square" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/admin/feature" class="btn btn-outline-danger"><i class="la la-times"></i> Vazgeç</a>
                        <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>