@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        <div class="main-panel">
            @RenderBody()
            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
