@model NotificationViewModel

@{
    ViewData["Title"] = "Bildirim Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    string[] validationErrors = Model?.ApiResponseMessage?.Split(",");
}

<form id="UpdateNotificationForm" asp-area="Admin" asp-controller="Notification" asp-action="UpdateNotification" method="post">

    <div class="content">
        <div class="container-fluid">
            <h5>@ViewBag.MainTitle</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Bildirim Ekleme</div>
                        </div>
                        <div class="card-body">
                            @if (Model.HttpResponseMessage != 0)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="alert alert-danger text-center">
                                            @foreach (var errorItem in validationErrors)
                                            {
                                                <span>@errorItem</span>
                                                @if (errorItem != validationErrors.Last())
                                                {
                                                    <br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @Html.HiddenFor(x => x.UpdateNotification.NotificationID)
                                <div class="col-md-4 form-group">
                                    <label asp-for="UpdateNotification.Type">Bildirim Türü</label>
                                    <input asp-for="UpdateNotification.Type" type="text" class="form-control input-square" placeholder="Bildirim Türü">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label asp-for="UpdateNotification.Status">Bildirim Durumu</label>
                                    <p class="demo">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" asp-for="UpdateNotification.Status">
                                            <span class="form-check-sign">Okundu Mu?</span>
                                        </label>
                                    </p>
                                </div>
                                <div class=" col-md-12 form-group">
                                    <label asp-for="UpdateNotification.Description">Açıklama</label>
                                    <textarea asp-for="UpdateNotification.Description" rows="6" class="form-control input-square" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="/admin/category" class="btn btn-outline-danger">Vazgeç</a>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

